# === Database ===
DB_HOST=
DB_NAME=
DB_USER=

# === Timezone ===
TIME_ZONE=1

# === Authentification ===
AUTH_TYPE=cookies
AUTH_COOKIE_NAME=session
AUTH_COOKIE_EXPIRATION="+1 day"
AUTH_URL=login/
AUTH_REQUIRED=true